<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="mbox">

        <div class="wrapp-content">

            <div class="wrap-logo" data-aos="fade-right" data-aos-duration="1000">
                <img src="images/full-Logo-black.png" alt="img">
            </div>

            <div class="wrapp-socials">

                <div class="social-icon-wrapp socials-icon">
                    <img src="images/Share-icon.png" alt="img">
                </div>

                <div class="social-icon-wrapp glide-icon instagram-icon" data-aos="fade-left" data-aos-duration='1000'>
                    <a href="javascript:void(0)">
                        <img src="images/instagram-icon.png" alt="img">
                    </a>
                </div>

                <div class="social-icon-wrapp glide-icon facebook-icon"  data-aos="fade-left" data-aos-delay='300' data-aos-duration='1000'>
                    <a href="javascript:void(0)">
                        <img src="images/facebook-icon.png" alt="img">
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="bottom-footer">

        <div class="mbox">

            <div class="wrapp-copyright">

                <div class="copyright">
                    <p style="font-size: 14px;font-weight: 700;">&copy; Все права защищены</p>
                </div>

                <div class="year">
                    <p style="font-size: 14px;font-weight: 700;">2018</p>
                </div>

                <div class="dewelop-link">
                    <a href="javascript:void(0)">Разработано <img src="images/icon-by.png" alt="img"> by “krasnuk_web.design”</a>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- /FOOTER -->
