<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="wrapp">

            <div class="wrapp-logo">
                <a href="index.html">
                    <img src="images/mini-Logo.png" alt="img">
                </a>
            </div>

            <ul class="wrapp-menu" id="wrapp-menu">

                <li><a href="index.html">ГЛАВНАЯ</a></li>
                <li><a href="/#block-2">О Нас</a></li>
                <li><a href="services.html">услуги</a></li>
                <li><a href="news.html">Новости</a></li>
                <li><a href="vacancies.html">Вакансии</a></li>
                <li><a href="for_clients.html">Для клиенток</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li class="close-icon" id="close-icon-js"></li>
                <li class="mobile-social-wrap">
                    <span>Мы в соцсетях</span>
                    <a href="javascript:void(0)">
                        <img src="images/instagram-icon.png" alt="img">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="images/facebook-icon.png" alt="img">
                    </a>
                </li>

            </ul>

            <div class="menu-icon" id="menu-icon-js">
                <span>меню</span>
                <img src="images/menu-icon-mob.png" alt="img">
            </div>

        </div>
    </div>

</header>
<!-- /HEADER -->

