<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="wrapp">

            <div class="wrapp-logo">
                <a href="index.html">
                    <img src="images/mini-Logo.png" alt="img">
                </a>
            </div>

            <ul class="wrapp-menu">

                <li><a href="index.html">ГЛАВНАЯ</a></li>
                <li><a href="javascript:void(0)">О Нас</a></li>
                <li><a href="services.html">услуги</a></li>
                <li><a href="news.html">Новости</a></li>
                <li><a href="vacancies.html">Вакансии</a></li>
                <li><a href="javascript:void(0)">Для клиенток</a></li>
                <li><a href="contacts.html">Контакты</a></li>

            </ul>

        </div>
    </div>

</header>
<!-- /HEADER -->

